@using Microsoft.AspNet.Identity
@using TrashCollector.Models
@model TrashCollector.Models.Profile

@{
    ViewBag.Title = "Profile Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_DashboardNav")

<h3>Account information to come.</h3>