@using Microsoft.AspNet.Identity
@using TrashCollector.Models
@model TrashCollector.Models.Profile

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile for @User.Identity.GetUserName()</h2>
@if (Model.Addresses != null)
{
    foreach (var address in Model.Addresses)
    {
        <p>@address.StreetOne</p>
    }
}
<p>
    @Html.ActionLink("Add Address", "Create", "Address", routeValues: null, htmlAttributes: new { title = "Add Address", @class = "btn btn-primary" })
</p>
